* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  min-height: 100%;
  margin: 0%;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #272322;
  text-align: center;
  padding: 5px;
  font-size: 1.6rem;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #272322;
  text-align: center;
  padding: 5px;
  font-size: 1.2rem;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #272322;
  margin-top: 0px;
  padding-top: 0px;
  margin: 5px;
  font-family: "Inter", sans-serif;
  font-size: 0.5rem;
  font-weight: bold;
}

ul ol {
  list-style-type: none;
  color: #272322;
}

a {
  text-decoration: none;
}

/* Inicia header mobile*/
@media only screen and (min-width: 220px) and (max-width: 480px) {
  header {
    grid-area: header;
    background: linear-gradient(#5f5756, #827f7c, #b4afa9);
    font-family: "Inter", sans-serif;
    margin: 0%;
  }
}
/* Finaliza header mobile*/
/* Inicia header Tablets*/
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  header {
    grid-area: header;
    background: linear-gradient(#5f5756, #827f7c, #b4afa9);
    font-family: "Inter", sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}
/* Finaliza header Tablets*/
/* Inicia header tablets y desktop */
@media only screen and (min-width: 1024px) {
  header {
    grid-area: header;
    background: linear-gradient(#5f5756, #827f7c, #b4afa9);
    font-family: "Inter", sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}
/* Finaliza header tablets y desktop */
/* Inicia ambas botoneras Mobile*/
@media only screen and (min-width: 220px) and (max-width: 480px) {
  .botonera-sup {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #272322;
    padding: 5px;
    margin: 0px;
    gap: 10px;
  }
  .botonera-sup button {
    background-color: #272322;
    color: #e4dbcf;
    border: none;
    padding: 2px;
    margin: 2px;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
  }
  .botonera-sup button input {
    width: 150px;
    background-color: #e4dbcf;
    border: 1px solid #e4dbcf;
    border-radius: 4px;
    font-size: 1.3rem;
  }
  .mobile {
    display: flex;
  }
  .logo {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 0px;
  }
  .logo-dos {
    display: none;
    align-items: center;
    padding: 5px;
    margin: 5px;
  }
  .nav__toggle {
    position: absolute;
    cursor: pointer;
    margin: 0rem 1.5rem;
    right: 0;
  }
  .close, input[type=checkbox] {
    display: none;
    margin-top: 3rem;
    width: 40px;
    justify-content: space-evenly;
  }
  .hamburguesa {
    margin-top: 3rem;
    width: 40px;
    justify-content: space-evenly;
  }
  .nav__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 5px;
    padding: 20px;
  }
  nav ul li {
    display: none;
    gap: 1rem;
    border-radius: 5px;
    text-align: start;
    width: auto;
  }
  nav ul li a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    line-height: 20px;
    font-size: 15px;
    transition: 0.2s;
    color: #272322;
    padding: 5px;
    border-radius: 5px;
  }
  li:first-child {
    margin-right: auto;
    display: block;
  }
  :root {
    --boton:#827f7c;
  }
  nav ul:hover a {
    filter: blur(1px);
  }
  nav ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.3);
    filter: none;
  }
  :root {
    --boton:#827f7c;
  }
  nav ul li .boton:hover {
    background: var(--boton);
    border-radius: 5px;
    margin: 10px;
    padding: 10px 10px;
  }
  #nav__checkbox:checked ~ ul.nav__menu li {
    display: block;
  }
  #nav__checkbox:checked ~ label.nav__toggle .hamburguesa {
    display: none;
  }
  #nav__checkbox:checked ~ label.nav__toggle .close {
    display: block;
  }
  ::placeholder {
    color: black;
    font-family: "Inter", sans-serif;
  }
}
/* Finaliza ambas botoneras Mobile*/
/* Inicia ambas botoneras Tablets*/
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .close, input[type=checkbox] {
    display: none;
    margin-top: 3.5rem;
    width: 35px;
  }
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    flex-direction: row;
    margin: 0px;
    padding: 10px;
  }
  .nav__menu li {
    display: block;
  }
  .botonera-sup {
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    align-items: end;
    flex-direction: row;
    justify-content: center;
    background-color: #272322;
    color: #e4dbcf;
    margin: 0px;
    padding: 5px;
    padding-right: 50px;
    gap: 40px;
  }
  .botonera-sup button {
    background-color: #272322;
    color: #e4dbcf;
    border: none;
    padding: 5px;
    margin: 0px;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-between;
  }
  .botonera-sup button input {
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 45px;
    background-color: #e4dbcf;
    color: black;
    border: 1px solid #e4dbcf;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 5px;
    margin: 0px;
  }
  .mobile {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
    padding: 25px;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
  }
  nav ul li {
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
    text-align: center;
    width: auto;
  }
  nav ul li a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    line-height: 5px;
    font-size: 10px;
    transition: 0.2s;
    color: black;
    padding: 5px;
    border-radius: 5px;
  }
  nav ul:hover a {
    filter: blur(1px);
  }
  nav ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.3);
    filter: none;
  }
  :root {
    --boton:#827f7c;
  }
  nav ul li .boton:hover {
    background: var(--boton);
    border-radius: 5px;
    margin: 8px;
    padding: 8px 8px;
  }
  .logo, .logo-dos {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
  }
}
/* Finaliza ambas botoneras Tablets*/
/* Inicia ambas botoneras Desktop */
@media only screen and (min-width: 1024px) {
  .close, input[type=checkbox] {
    display: none;
    margin-top: 3.5rem;
    width: 35px;
  }
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    flex-direction: row;
    margin: 0px;
    padding: 10px;
  }
  .nav__menu li {
    display: block;
  }
  .botonera-sup {
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: end;
    background-color: #272322;
    color: #e4dbcf;
    margin: 0px;
    padding: 5px;
    padding-right: 50px;
    gap: 50px;
  }
  .botonera-sup button {
    background-color: #272322;
    color: #e4dbcf;
    border: none;
    padding: 5px;
    margin: 0px;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-between;
  }
  .botonera-sup button input {
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 45px;
    background-color: #e4dbcf;
    color: black;
    border: 1px solid #e4dbcf;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 5px;
    margin: 0px;
  }
  .mobile {
    display: none;
  }
  .logo, .logo-dos {
    display: flex;
    margin: 0px;
    padding: 5px;
  }
  nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
    padding: 40px;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
  }
  nav ul li {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    width: auto;
  }
  nav ul li a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    line-height: 5px;
    font-size: 15px;
    transition: 0.2s;
    color: black;
    padding: 5px;
    border-radius: 5px;
  }
  nav ul:hover a {
    filter: blur(1px);
  }
  nav ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.3);
    filter: none;
  }
  :root {
    --boton:#827f7c;
  }
  nav ul li .boton:hover {
    background: var(--boton);
    border-radius: 5px;
    margin: 10px;
    padding: 10px 10px;
  }
}
/* Finaliza ambas botoneras Desktop */
/* Inicia seccion main/principal Mobile*/
@media only screen and (min-width: 220px) and (max-width: 480px) {
  main {
    background-color: #a39a92;
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0%;
  }
  .imagendesktop {
    display: none;
  }
  .imagenmobile {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center center;
    background-color: #a39a92;
    font-family: "Inter", sans-serif;
    margin-top: 0px;
    margin-bottom: 35px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 15px 15px;
  }
  .imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 95%;
    background-size: cover;
    background-position: center center;
    background-color: #a39a92;
    font-family: "Inter", sans-serif;
    margin-left: 15px;
    margin-right: 15px;
  }
  .texto {
    background-color: #6e6762;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .texto h2 {
    font-size: 1.2rem;
    color: #e4dbcf;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  .texto h2 {
    font-size: 1rem;
    color: #e4dbcf;
    padding: 2px;
    margin: 2px;
    text-align: center;
  }
  .texto p {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    color: #e4dbcf;
    border: 2px solid #e4dbcf;
    width: 95%;
  }
}
/* Finaliza seccion main/principal Mobile*/
/* Inicia seccion main/principal Tablets*/
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .imagendesktop {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    max-width: 90%;
    height: auto;
    background-size: cover;
    background-position: center center;
    background-color: #a39a92;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 15px 15px;
    font-family: "Inter", sans-serif;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
  }
  .imagenmobile {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center center;
    background-color: #a39a92;
    font-family: "Inter", sans-serif;
  }
  .imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    max-width: 100%;
    height: auto;
    background-position: center center;
    background-color: #a39a92;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
  }
  main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 100%;
    background-color: #a39a92;
    box-sizing: border-box;
  }
  .texto {
    background-color: #6e6762;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .texto h2 {
    font-size: 1.2rem;
    color: #e4dbcf;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  .texto p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: rgb(240, 235, 216);
    width: 95%;
    height: 50%;
    border: solid 5px;
    border-color: rgb(240, 235, 216);
    padding: 50px;
    margin: 25px;
  }
}
/* Finaliza seccion main/principal Tablets */
/* Inicia seccion main/principal Desktop */
@media only screen and (min-width: 1024px) {
  .imagendesktop {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    max-width: 95%;
    height: auto;
    background-size: cover;
    background-position: center center;
    background-color: #a39a92;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 15px 15px;
    font-family: "Inter", sans-serif;
    margin-top: 0%;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
  }
  .imagenmobile {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center center;
    background-color: #a39a92;
    font-family: "Inter", sans-serif;
  }
  .imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    max-width: 100%;
    height: auto;
    background-position: center center;
    background-color: #a39a92;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
  }
  main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 100%;
    background-color: #a39a92;
    box-sizing: border-box;
  }
  .texto {
    background-color: #6e6762;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .texto h2 {
    font-size: 1.2rem;
    color: #e4dbcf;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  .texto p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: rgb(240, 235, 216);
    width: 95%;
    height: 50%;
    border: solid 5px;
    border-color: rgb(240, 235, 216);
    padding: 50px;
    margin: 25px;
  }
}
/* Finaliza seccion main/principal Desktop */
/* Finaliza aside Mobile*/
@media only screen and (min-width: 220px) and (max-width: 480px) {
  aside {
    background-color: #46403d;
    font-family: "Inter", sans-serif;
    margin: 0%;
  }
  .mapa {
    background-color: #46403d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mapa p {
    color: #e4dbcf;
    text-align: center;
    padding: 5px;
    margin: 5px;
  }
  .mapa iframe {
    margin: 15px;
    padding: 15px;
  }
}
/* Finaliza aside Mobile*/
/* Inicia footer Tablets*/
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  aside {
    grid-area: aside;
    background-color: #46403d;
    font-family: "Inter", sans-serif;
    margin: 0%;
  }
  .mapa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .mapa p {
    font-family: "Inter", sans-serif;
    color: #e4dbcf;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 1.5rem;
  }
  .mapa iframe {
    margin: 15px;
    padding: 15px;
    border: none;
  }
}
/* Finaliza footer Tablets*/
/* Inicia footer Desktop*/
@media only screen and (min-width: 1024px) {
  aside {
    grid-area: aside;
    background-color: #46403d;
    font-family: "Inter", sans-serif;
    margin: 0%;
  }
  .mapa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .mapa p {
    font-family: "Inter", sans-serif;
    color: #e4dbcf;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 1.5rem;
  }
  .mapa iframe {
    margin: 15px;
    padding: 15px;
    border: none;
  }
}
/* Inicia footer Desktop*/
/* Inicia footer Mobile*/
@media only screen and (min-width: 220px) and (max-width: 480px) {
  .texto-foot {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #e4dbcf;
    padding: 10px;
    margin: 0px;
  }
  footer {
    background-color: #272322;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    justify-content: center;
  }
  :root {
    --facebook:#3b5999;
    --instagram:#AD1457;
    --twitter:#3498DB;
    --whatsapp:#8BC34A;
  }
  .redes-container {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 25px;
  }
  .redes-container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 15px;
  }
  .redes-container ul li {
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    justify-content: center;
    text-align: center;
  }
  .redes-container ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 20px 10px;
    margin: 5px;
    background-color: #827f7c;
    color: #e4dbcf;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
  }
  .redes-container ul:hover a {
    filter: blur(1px);
  }
  .redes-container ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
    filter: none;
  }
  .redes-container ul li .facebook:hover {
    background: var(--facebook);
  }
  .redes-container ul li .instagram:hover {
    background: var(--instagram);
  }
  .redes-container ul li .twitter:hover {
    background: var(--twitter);
  }
  .redes-container ul li .whatsapp:hover {
    background: var(--whatsapp);
  }
}
/* Finaliza footer Mobile*/
/* Inicia footer Tablets*/
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  footer {
    grid-area: footer;
    background-color: #272322;
    display: flex;
    flex-direction: row;
    font-family: "Inter", sans-serif;
    justify-content: start;
    align-items: center;
    padding: 10px;
  }
  .texto-foot {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-items: start;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #e4dbcf;
    padding: 10px;
    margin: 0px;
    margin-left: 50px;
  }
  .texto-foot p {
    margin: 0px;
  }
  :root {
    --facebook:#3b5999;
    --instagram:#AD1457;
    --twitter:#3498DB;
    --whatsapp:#8BC34A;
  }
  .redes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0px;
    padding: 10px;
  }
  .redes-container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }
  .redes-container ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    width: 50px;
    height: 50px;
  }
  .redes-container ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 15px 15px;
    margin: 0px;
    background-color: #827f7c;
    color: #e4dbcf;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
  }
  .redes-container ul:hover a {
    filter: blur(1px);
  }
  .redes-container ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
    filter: none;
  }
  .redes-container ul li .facebook:hover {
    background: var(--facebook);
  }
  .redes-container ul li .instagram:hover {
    background: var(--instagram);
  }
  .redes-container ul li .twitter:hover {
    background: var(--twitter);
  }
  .redes-container ul li .whatsapp:hover {
    background: var(--whatsapp);
  }
}
/* Inicia footer Tablets*/
/* Inicia footer Desktop */
@media only screen and (min-width: 1024px) {
  footer {
    grid-area: footer;
    background-color: #272322;
    display: flex;
    flex-direction: row;
    font-family: "Inter", sans-serif;
    justify-content: start;
    align-items: center;
    padding: 10px;
  }
  .texto-foot {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-items: start;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #e4dbcf;
    padding: 10px;
    margin: 0px;
    margin-left: 50px;
  }
  .texto-foot p {
    margin: 0px;
  }
  :root {
    --facebook:#3b5999;
    --instagram:#AD1457;
    --twitter:#3498DB;
    --whatsapp:#8BC34A;
  }
  .redes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0px;
    padding: 10px;
  }
  .redes-container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }
  .redes-container ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    width: 50px;
    height: 50px;
  }
  .redes-container ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 15px 15px;
    margin: 0px;
    background-color: #827f7c;
    color: #e4dbcf;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
  }
  .redes-container ul:hover a {
    filter: blur(1px);
  }
  .redes-container ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
    filter: none;
  }
  .redes-container ul li .facebook:hover {
    background: var(--facebook);
  }
  .redes-container ul li .instagram:hover {
    background: var(--instagram);
  }
  .redes-container ul li .twitter:hover {
    background: var(--twitter);
  }
  .redes-container ul li .whatsapp:hover {
    background: var(--whatsapp);
  }
}
/* Finaliza footer Desktop */
/* Inicia seccion inicio desktop*/
/* Finaliza seccion inicio desktop*/
/* Inicia seccion inicio desktop*/
/* Finaliza seccion inicio desktop*/
/* Inicia seccion productos Mobile */
@media only screen and (min-width: 220px) and (max-width: 480px) {
  .contenedor-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 2px;
    margin: 0px;
  }
  .card {
    width: 10rem;
    padding: 2px;
    margin: 0px;
    border: solid 1px black;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 15px 15px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #a39a92;
  }
  .card img {
    width: 8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: solid 1px black;
    margin: 4px;
  }
  .card body {
    margin: 5px;
    padding: 5px;
  }
  .card text {
    font-size: 0.5rem;
    font-weight: bold;
    text-align: center;
  }
  .card p {
    font-size: 0.5rem;
    text-align: center;
    font-weight: bold;
  }
  .contenedor-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 5px;
  }
  .contenedor-dos {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
  }
  .card-dos {
    box-shadow: rgba(0, 0, 0, 0.55) 0px 15px 15px;
    margin: 2px;
    padding: 2px;
    align-items: center;
    justify-content: space-around;
  }
  .card-dos h3 {
    font-size: 0.4rem;
    font-weight: bold;
  }
  .imagen-secundaria {
    width: 45px;
    margin: 5px;
    padding: 5px;
  }
  .texto-secundario {
    background-color: #6e6762;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .texto-secundario h2 {
    font-size: 1.2rem;
    color: #e4dbcf;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  .texto-secundario p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    color: rgb(240, 235, 216);
    border: solid 2px;
    border-color: rgb(240, 235, 216);
    padding: 10px;
    margin: 10px;
  }
}
/* Finaliza seccion productos Mobile */
/* Inicia seccion productos Tablets */
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .contenedor-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
  }
  .contenedor-dos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
  }
  .card-dos {
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 15px 15px;
    margin: 5px;
    padding: 5px;
  }
  .card-dos h1 {
    font-size: 0.6rem;
    font-weight: bold;
  }
  .imagen-secundaria {
    justify-content: center;
    width: 40px;
    margin: 5px;
    padding: 5px;
  }
  .contenedor-general {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    margin: 10px;
  }
  .card {
    width: 12rem;
    padding: 5px;
    margin: 5px;
    border: solid 1px black;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 15px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #a39a92;
  }
  .card img {
    width: 8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: solid 1px black;
    margin: 5px;
  }
  .card body {
    margin: 5px;
    padding: 5px;
  }
  .card text {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
  .card p {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
  .texto-secundario {
    background-color: #6e6762;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .texto-secundario h2 {
    font-size: 1.2rem;
    color: #e4dbcf;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  .texto-secundario p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: rgb(240, 235, 216);
    width: 95%;
    height: 50%;
    border: solid 5px;
    border-color: rgb(240, 235, 216);
    padding: 50px;
    margin: 25px;
  }
}
/* Finaliza seccion productos Tablets */
/* Inicia seccion productos Desktop */
@media only screen and (min-width: 1024px) {
  .contenedor-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
  }
  .contenedor-dos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
  }
  .card-dos {
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 15px 15px;
    margin: 5px;
    padding: 5px;
  }
  .card-dos h1 {
    font-size: 1rem;
    font-weight: bold;
  }
  .contenedor-general {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    margin: 10px;
  }
  .card {
    width: 15rem;
    padding: 5px;
    margin: 5px;
    border: solid 1px black;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 15px 15px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #a39a92;
  }
  .card img {
    width: 12rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: solid 1px black;
    margin: 5px;
  }
  .card body {
    margin: 5px;
    padding: 5px;
  }
  .card text {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
  .card p {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
  .imagen-secundaria {
    width: 80px;
    margin: 10px;
    padding: 10px;
  }
  .texto-secundario {
    background-color: #6e6762;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .texto-secundario h2 {
    font-size: 1.2rem;
    color: #e4dbcf;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  .texto-secundario p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: rgb(240, 235, 216);
    width: 95%;
    height: 50%;
    border: solid 5px;
    border-color: rgb(240, 235, 216);
    padding: 50px;
    margin: 25px;
  }
}
/* Finaliza seccion productos Desktop */
/* Inicia seccion Retro desktop*/
/* Finaliza seccion Retro desktop*/
/* Inicia seccion Retro desktop*/
/* Finaliza seccion Retro desktop*/
/* Inicia seccion contacto Mobile*/
@media only screen and (min-width: 220px) and (max-width: 480px) {
  .container-form {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    margin: 2px;
  }
  .container-form p {
    font-size: 0.8rem;
    color: #272322;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: 2px solid #272322;
    line-height: 1.2;
  }
  .info-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    padding: 2px;
  }
  .info-form a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    text-decoration: none;
    width: 100%;
    color: rgb(13, 19, 33);
  }
  .info-form a i {
    color: rgb(240, 235, 216);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .container-form form .campo, textarea {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    text-align: start;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    border: 1px solid #272322;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    outline: 0px;
    background-color: #e4dbcf;
    color: #272322;
  }
  .container-form form textarea {
    display: flex;
    width: 236px;
    height: 100px;
    font-size: 1rem;
    margin: 5px;
    padding: 5px;
    background-color: #e4dbcf;
    color: #272322;
  }
  .container-form .btn-enviar {
    display: flex;
    margin: 5px;
    padding: 3px;
    font-size: 0.7rem;
    border: 1px solid rgb(13, 19, 33);
    outline: 0px;
    background-color: #e4dbcf;
    color: #272322;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
  }
  .container-form .btn-enviar:hover {
    background-color: #272322;
    color: #e4dbcf;
  }
}
/* Finaliza seccion contacto Mobile*/
/* Inicia seccion contacto Tablets */
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .container-form {
    width: 100%;
    margin: auto;
    display: grid;
    justify-content: start;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    margin: 10px;
    padding: 15px;
  }
  .container-form p {
    text-align: start;
    color: black;
    font-size: 1rem;
    line-height: 1.2;
    margin: 5px;
    border: none;
  }
  .container-form a {
    font-size: 0.8rem;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    color: rgb(13, 19, 33);
    font-weight: 700;
  }
  .container-form a i {
    color: rgb(240, 235, 216);
    margin-right: 10px;
    display: inline-block;
  }
  .container-form form .campo, textarea {
    width: 100%;
    padding: 12px 3px;
    font-size: 1rem;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
    background-color: #e4dbcf;
    color: black;
  }
  .container-form form textarea {
    max-width: 500px;
    min-width: 500px;
    max-height: 100px;
    min-height: 100px;
    background-color: #e4dbcf;
    color: black;
  }
  .container-form .btn-enviar {
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgb(13, 19, 33);
    outline: 0px;
    background-color: #e4dbcf;
    color: black;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
    margin-bottom: 20px;
  }
  .container-form .btn-enviar:hover {
    background-color: #272322;
    color: #e4dbcf;
  }
}
/* Inicia seccion contacto Tablets */
/* Inicia seccion contacto Desktop */
@media only screen and (min-width: 1024px) {
  .container-form {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    justify-content: start;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    margin-top: 5px;
  }
  .container-form h1 {
    margin-bottom: 15px;
    font-size: 35px;
  }
  .container-form p {
    text-align: start;
    color: black;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 5px;
    border: none;
  }
  .container-form a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    color: rgb(13, 19, 33);
    font-weight: 700;
  }
  .container-form a i {
    color: rgb(240, 235, 216);
    margin-right: 10px;
    display: inline-block;
  }
  .container-form form .campo, textarea {
    width: 100%;
    padding: 15px 5px;
    font-size: 15px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    border: 1px solid rgb(13, 19, 33);
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
    background-color: #e4dbcf;
    color: rgb(13, 19, 33);
  }
  .container-form form textarea {
    max-width: 530px;
    min-width: 530px;
    max-height: 150px;
    min-height: 140px;
    background-color: #e4dbcf;
    color: rgb(13, 19, 33);
  }
  .container-form .btn-enviar {
    padding: 15px;
    font-size: 16px;
    border: 1px solid rgb(13, 19, 33);
    outline: 0px;
    background-color: #e4dbcf;
    color: rgb(13, 19, 33);
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
    margin-bottom: 20px;
  }
  .container-form .btn-enviar:hover {
    background-color: #272322;
    color: #e4dbcf;
  }
}
/* Finaliza seccion productos Desktop */
/* Inicia seccion quienes somos mobile*/
@media only screen and (min-width: 220px) and (max-width: 480px) {
  .nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
  }
  .nosotros img {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 15px 15px;
  }
  .nosotros .texto {
    background-color: #6e6762;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .nosotros .texto h2 {
    font-size: 1.2rem;
    color: #e4dbcf;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  .nosotros p {
    font-size: 1rem;
    line-height: 1.2;
    height: auto;
    width: auto;
    margin: 10px;
    padding: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: #272322;
    border: 2px solid #272322;
  }
  .texto-q h2 {
    font-size: 1rem;
    color: #e4dbcf;
    padding: 2px;
    margin: 2px;
    text-align: center;
  }
  .texto-q p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    line-height: 1.2;
    font-size: 0.8rem;
    margin: 5px;
    padding: 5px;
    color: #272322;
    border: 2px solid #272322;
  }
  .texto-q .dos {
    display: none;
    color: #272322;
  }
}
/* Finaliza seccion Quienes somos Mobile*/
/* Inicia seccion Quienes somos Tablets*/
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .nosotros {
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 15px;
  }
  .nosotros img {
    width: 45%;
    height: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 15px 15px;
  }
  .nosotros .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #a39a92;
    font-size: 1rem;
    padding: 0px;
    margin: 10px;
  }
  .texto-q p {
    font-size: 0.9rem;
    line-height: 1.2;
    height: auto;
    width: auto;
    margin: 8px;
    padding: 8px;
    border: none;
    justify-content: start;
    align-items: start;
    text-align: start;
    font-family: "Inter", sans-serif;
    color: #272322;
  }
  .texto-q .dos {
    display: flex;
    color: #272322;
  }
}
/* Finaliza seccion Quienes somos Tablets*/
/* Inicia seccion Quienes somos Desktop */
@media only screen and (min-width: 1024px) {
  .nosotros {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
  }
  .nosotros img {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 15px 15px;
  }
  .nosotros .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #a39a92;
    font-size: 1rem;
    padding: 0px;
    margin: 10px;
  }
  .texto-q p {
    font-size: 1.5rem;
    line-height: 1.5;
    height: auto;
    width: auto;
    margin: 10px;
    padding: 10px;
    border: none;
    justify-content: start;
    align-items: start;
    text-align: start;
    font-family: "Inter", sans-serif;
    color: #272322;
  }
  .texto-q .dos {
    display: flex;
    color: #272322;
  }
}
/* Finaliza seccion Quienes somos Desktop */

/*# sourceMappingURL=styles.css.map */
