/* Finaliza aside mobile*/

aside{
    background-color:#46403d;
    font-family: $font-family;
    margin: 0%;
}

.mapa {
    background-color: #46403d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    p {
      color: #e4dbcf;
      text-align: center;
      padding: 5px;
      margin: 5px;
    }
  
    iframe {
      margin: 15px;
      padding: 15px;
    }
  }

/* Finaliza aside mobile*/


/* Inicia aside desktop*/

@media only screen and (min-width: 768px) {

aside {
    grid-area: aside;
    background-color: #46403d;
    font-family: $font-family;
    margin: 0%;
  }
  
  .mapa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    p {
      font-family: 'Inter', sans-serif;
      color: #e4dbcf;
      text-align: center;
      padding: 10px;
      margin: 10px;
      font-size: 1.5rem;
    }
  
    iframe {
      margin: 15px;
      padding: 15px;
      border: none;
    }
  }
    
  }
  /* Finaliza aside desktop*/