/* Inicia header mobile*/

header{
    grid-area: header;
    background: linear-gradient(#5f5756, #827f7c, #b4afa9);
    font-family: $font-family;
    margin: 0%;
}

/* Finaliza header mobile*/


/* Inicia header desktop*/

@media only screen and (min-width: 1094px) {
    header {
        grid-area: header;
        background: linear-gradient(#5f5756, #827f7c, #b4afa9);
        font-family: $font-family;
        margin: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
      }
      
}

/* Finaliza header desktop*/