
/* Inicia header mobile*/
@media only screen and (max-width: 767px) {
    header{
        grid-area: header;
        background: $colorheader;
        font-family: $font-family;
        margin: 0%;
    }
}
/* Finaliza header mobile*/


/* Inicia header Tablets y desktop*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        grid-area: header;
        background: $colorheader;
        font-family: $font-family;
        margin: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
      }
      
}
/* Finaliza header Tablets y desktop*/