/* Inicia seccion productos mobile */

@media only screen and (max-width: 767px) {

  .contenedor-general{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    margin: 5px;
  }

  .card{
    width: 8rem;
    padding: 2px;
    margin: 2px;
    border: solid 2px black;
    box-shadow: rgb(0, 0, 0, 0.55) 0px 15px 15px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: $colormain;

    &__img{
      width: 4rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);   
      margin: 5px;
    }

    &__body{
      margin: 5px;
      padding: 5px;
    }

    &__text{
      font-size: 0.5rem;
      font-weight: bold;
      text-align: center;
    }

    p{
      font-size: 0.5rem;
      text-align: center;
      font-weight: bold;
    }
  }

  .contenedor-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 5px;
  }
  
  .contenedor-dos {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
  }
  
  .card-dos {
    @include cardsec;
    h3{
      font-size: 0.4rem;
    }
  }
  
  .imagen-secundaria {
    width: 45px;
    margin: 5px;
    padding: 5px;
  }
  
  .texto-secundario {
    @include textosec;

    p {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: 'Inter', sans-serif;
      font-size: 0.8rem;
      color: rgb(240, 235, 216);
      border: solid 2px;
      border-color: rgb(240, 235, 216);
      padding: 10px;
      margin: 10px;
    }
  }
}

/* Finaliza seccion productos mobile */


/* Inicia seccion productos tablets y desktop */
  
@media only screen and (min-width: 768px) {
  .contenedor-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
  }
  .contenedor-dos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;

    h2{
      font-size: 0.5rem;
    }
  }

  .card-dos{
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgb(0, 0, 0, 0.55) 0px 15px 15px;
    margin: 2px;
    padding: 5px;
  }

  .contenedor-general{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    margin: 10px;
  }

  .card{
    width: 15rem;
    padding: 5px;
    margin: 5px;
    border: solid 2px black;
    box-shadow: rgb(0, 0, 0, 0.55) 0px 15px 15px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: $colormain;

    &__img{
      width: 12rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);   
      margin: 5px;
    }

    &__body{
      margin: 5px;
      padding: 5px;
    }

    &__text{
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
    }

    p{
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
    }
  }

  .imagen-secundaria {
    width: 100px;
    margin: 10px;
    padding: 10px;
  }

  .texto-secundario{
    @include textosec;

    p {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: 'Inter', sans-serif;
      font-size: 1rem;
      color: rgb(240, 235, 216);
      width: 95%;
      height: 50%;
      border: solid 5px;
      border-color: rgb(240, 235, 216);
      padding: 50px;
      margin: 25px;
    }
  }
}

/* Finaliza seccion productos tablets y desktop */