/* Inicia seccion productos mobile */

.contenedor-uno {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    padding: 3px;
  }
  
  .imagenes-principales {
    align-items: center;
    justify-content: center;
    width: 18%;
    margin: 5px;
    padding: 5px;
    box-shadow: rgb(0, 0, 0, 0.55) 0px 15px 15px;
  }
  
  .contenedor-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
  }
  
  .contenedor-dos {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
  }
  
  .card-dos {
    @include cardsec;
  }
  
  .imagen-secundaria {
    width: 45px;
    margin: 5px;
    padding: 5px;
  }
  
  .texto-secundario {
    @include textosec;

    p {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: 'Inter', sans-serif;
      font-size: 0.8rem;
      color: rgb(240, 235, 216);
      border: solid 2px;
      border-color: rgb(240, 235, 216);
      padding: 10px;
      margin: 10px;
    }
  }

  /* Finaliza seccion productos mobile */
  
  
  /* Inicia seccion productos desktop*/

  @media only screen and (min-width: 768px){
    .contenedor-mobile {
      display: none;
      justify-content: center;
      align-items: center;
      margin: 5px;
      padding: 5px;
    }
    .contenedor-dos {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px;
      padding: 5px;
    }

    .card-dos{
      align-items: center;
      justify-content: space-around;
      box-shadow: rgb(0, 0, 0, 0.55) 0px 15px 15px;
      margin: 5px;
      padding: 5px;
    }

    .imagen-secundaria {
      width: 100px;
      margin: 10px;
      padding: 10px;
    }

    .texto-secundario{
      @include textosec;

      p {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        color: rgb(240, 235, 216);
        width: 95%;
        height: 50%;
        border: solid 5px;
        border-color: rgb(240, 235, 216);
        padding: 50px;
        margin: 25px;
      }
    }

  }   
  /* Finaliza seccion productos desktop*/