/* Finaliza aside Mobile*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  aside{
      background-color:$coloraside;
      font-family: $font-family;
      margin: 0%;
  }
  
  .mapa {
      background-color: $coloraside;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    
      p {
        color: #e4dbcf;
        text-align: center;
        padding: 5px;
        margin: 5px;
      }
    
      iframe {
        margin: 15px;
        padding: 15px;
      }
    }
  }
/* Finaliza aside Mobile*/


/* Inicia footer Tablets*/
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  aside {
    grid-area: aside;
    background-color: $coloraside;
    font-family: $font-family;
    margin: 0%;
  }
  
  .mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    p {
      font-family: $font-family;
      color: #e4dbcf;
      text-align: center;
      padding: 10px;
      margin: 10px;
      font-size: 1.5rem;
    }
  
    iframe {
      margin: 15px;
      padding: 15px;
      border: none;
    }
  }
}
/* Finaliza footer Tablets*/


/* Inicia footer Desktop*/
@media only screen and (min-width: 1024px) {
  aside {
    grid-area: aside;
    background-color: $coloraside;
    font-family: $font-family;
    margin: 0%;
  }
  
  .mapa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    p {
      font-family: $font-family;
      color: #e4dbcf;
      text-align: center;
      padding: 10px;
      margin: 10px;
      font-size: 1.5rem;
    }
  
    iframe {
      margin: 15px;
      padding: 15px;
      border: none;
    }
  }
}
/* Inicia footer Desktop*/