@media only screen and (min-width: 481px) and (max-width: 743px) {
  .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    }

  .comprar{
    background-color: #272322;
    color: blue;
    border-radius: 4px;
    border: none;
    width: 2rem;
    height: 2rem;
    margin: 2px;
    padding: 2px;
  }
    
  .comprar:hover{
    background-color: #e4dbcf;
    color: #272322;
    border-radius: 5px;
    border: 1px solid #272322;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.3);
    margin: 5px;
    padding: 2px;
    }
    
  .boton-sec{
    background-color: #272322;
    color: #e4dbcf;
    border-radius: 4px;
    border: none;
    }
    
  .boton-sec:hover{
    background-color: #e4dbcf;
    color: #272322;
    border: 1px solid #272322;
    }
}


  .comprar{
    background-color: #272322;
    color:  #e4dbcf;
    border-radius: 4px;
    border: none;
    width: 4rem;
    height: 2rem;
    font-size: 0.6rem;
    }
    
  .comprar:hover{
    background-color: #e4dbcf;
    color: #272322;
    border-radius: 5px;
    border: 1px solid #272322;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.3);
    margin: 2px;
    padding: 2px;
    }
    
  .boton-sec{
    background-color: #272322;
    color: #e4dbcf;
    border-radius: 4px;
    border: none;
    width: 4rem;
    height: 2rem;
    font-size: 0.5rem;
    }
    
  .boton-sec:hover{
    background-color: #e4dbcf;
    color: #272322;
    border: 1px solid #272322;
    }

